.header-nav__main-container {
  background-color: #261e1c;
  display: flex;
  justify-content: center;
  align-items: center;

  .header-nav__logo-container {
    margin-right: auto;

    .header-nav__logo {
      width: 176px;
    }
  }
  .header-nav__ul-container {
    .header-nav__ul {
      list-style-type: none;
    }

    .header-nav__point {
      text-decoration: none;
      color: var(--text-color);

      &:hover {
        color: var(--header-color);
      }
    }
  }

  .header-nav__social-svg-container {
    .list--horizontal_3J3 {
      list-style-type: none;
    }
  }

  .social-icons__icon_3m8 {
    color: var(--header-color);
  }
}
