.natural {
  background-color: var(--background-color);
  padding: 50px 0 60px;
  margin-top: -1px;

  .natural__header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 30px;

    .natural__header {
      font-family: "Great Vibes", cursive;
      color: var(--header-color);
      font-size: 14px;
      margin-bottom: 10px;
      font-weight: normal;

      @media (min-width: 1030px) {
        font-size: 28px;
        margin-bottom: 10px;
      }
    }

    .natural__text-first {
      font-family: "Prata", serif;
      color: var(--text-color);
      font-size: 34px;
      font-weight: normal;
      margin-bottom: 30px;
      text-align: center;

      @media (min-width: 1030px) {
        font-size: 48px;
      }
    }

    .natural__text-second {
      text-align: center;
      font-family: "Rubik", sans-serif;
      color: var(--text-color);
      font-size: 18px;
      line-height: 30px;
      padding: 20px 50px 30px;
    }
  }

  .natural__main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0 50px 0 50px;

    @media (min-width: 793px) {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }

    .natural__image-container {
      padding-bottom: 50px;

      .natural__image {
        max-width: 100%;
        height: auto;
      }
    }

    .natural__card-container {
      @media (min-width: 793px) {
        padding-right: 25px;
        padding-left: 25px;
      }

      .natural__card-header {
        font-family: "Prata", serif;
        color: var(--text-color);
        font-size: 22px;
        font-weight: normal;
      }

      .natural__card-text-container {
        font-family: "Rubik", sans-serif;
        font-size: 16px;
        color: var(--second-text-color);
        line-height: 20px;
        padding-bottom: 30px;
      }
    }
  }
}
