.hero {
  background-image: url(../img/background/hero.jpg);
  background-size: cover;
  height: 100vh;

  .hero__containers {
    display: flex;

    .hero__empty-container {
      flex-basis: 900px;
      flex-shrink: 100;
    }

    .hero__container {
      padding: 220px 0 250px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      gap: 35px;
      flex-shrink: 1;

      .hero__text-container {
      }

      .hero__title {
        font-family: "Great Vibes", cursive;
        color: var(--header-color);
        font-size: 28px;
        margin-bottom: 10px;
      }

      h1 {
        font-family: "Prata", serif;
        color: var(--text-color);
        font-size: 84px;
        font-weight: normal;
        margin-bottom: 30px;
      }

      .hero__img-label {
        margin-bottom: 20px;
      }

      p {
        color: var(--text-color);
        font-size: 18px;
        font-weight: 18px;
      }

      .hero__btn-container {
        display: flex;
        justify-content: sp;
        align-items: flex-start;
        flex-wrap: wrap;

        .hero__btn-orange {
          background-color: var(--header-color);
          color: var(--text-color);
          font-size: 16.5px;
          font-weight: 700;
          text-decoration: none;
          border-radius: 2px;
          border: 3px none;
          width: 132px;
          height: 52.5px;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-right: 20px;

          &:hover {
            background-color: #d3652ecb;
          }
        }

        .hero__btn-white {
          text-decoration: none;
          background-color: transparent;
          color: var(--text-color);
          font-size: 16.5px;
          font-weight: 700;
          text-decoration: none;
          border-radius: 2px;
          border: 3px solid #ffffff;
          width: 145px;
          height: 52.5px;
          display: flex;
          justify-content: center;
          align-items: center;

          &:hover {
            color: black;
            background-color: var(--text-color);
          }
        }
      }
    }
  }
}
